# Node modules (never push)
node_modules/

# Build output
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Local env files
.env
.env.* 
!.env.example

# MacOS system files
.DS_Store

# Vite cache
.vite/

# VS Code settings (optional but recommended)
.vscode/

# Local testing folders
coverage/

# lock files (optional, depends on team rules)
package-lock.json
